<h1>Auto Fit</h1>

<section class="basic-grid"
  gdGap="1rem"
  gdColumns="repeat(auto-fit, minmax(150px, 1fr))">
  <div class="card">🐢</div>
  <div class="card">🐢</div>
  <div class="card">🐢</div>
</section>

<h1>Auto Fill</h1>

<section class="basic-grid"
  gdGap="1rem"
  gdColumns="repeat(auto-fill, minmax(150px, 1fr))">
  <div class="card">🐌</div>
  <div class="card">🐌</div>
  <div class="card">🐌</div>
</section>

<h1>Auto Row</h1>

<section class="basic-grid"
  gdGap="1rem"
  gdColumns="repeat(auto-fill, minmax(150px, 1fr))"
  gdRows="150px!">
  <div class="card">🐌</div>
  <div class="card">🐌</div>
  <div class="card">🍕</div>
  <div class="card">🍕</div>
  <div class="card">🐉</div>
  <div class="card">🐉</div>
  <div class="card">🐢</div>
  <div class="card">🐢</div>
</section>

<!-- <h1>Test Grid</h1>

<section class="basic-grid"
  gdGap="1rem" gdColumns="100px!" gdRows="100px!">
  <ng-container *ngFor="let uni of units">
    <div class="card">{{uni}}</div>
  </ng-container>
</section> -->


<h1>Inline Grid</h1>

<section class="basic-grid"
  gdGap="1rem"
  gdColumns="repeat(auto-fill, minmax(150px, 1fr))"
  gdRows="150px!" [gdInline]="true">
  <div class="card">🐌</div>
  <div class="card">🐌</div>
  <div class="card">🍕</div>
  <div class="card">🍕</div>
  <div class="card">🐉</div>
  <div class="card">🐉</div>
  <div class="card">🐢</div>
  <div class="card">🐢</div>
</section>


<h1>gdRow and gdColumn</h1>

<section class="basic-grid"
  gdGap="1rem"
  gdColumns="repeat(auto-fill, minmax(150px, 1fr))"
  gdRows="150px!">
  <div gdRow.gt-sm="span 2/auto" class="card">🐌</div>
  <div class="card">🐌</div>
  <div class="card">🍕</div>
  <div class="card">🍕</div>
  <div class="card">🐉</div>
  <div class="card">🐉</div>
  <div class="card" gdColumn.gt-sm="span 2/auto">🐢</div>
  <div class="card">🐢</div>
</section>
